* .body {
    background-color: #4D4D4D; 
    font-family: Arial, sans-serif; } 

  .centrado {
      display: flex;
      align-items: center;
      height: 600px;
      padding: 2rem;
    }
  
  .text-box {
      width: 50%;
   }
  
  input {
    padding: 10px;
    border: 0;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  .boton {
    border: 0;
    border-radius: 5px;
  }
  
  .image-box {
    background-color: #4D4D4D;
    display: flex;
    align-items: center;
    height: 50%;
    width: 50%;
  }
  
.fotogym {
    height: 100%;
    width: 70%;
    margin-top: 6rem;
    margin-left: 9rem;
    margin-right: 2rem;
    margin-bottom: 4rem;
}




