/* FONTS */

.teko-normal {
    font-family: "Teko", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

.special-gothic-expanded-one-regular {
    font-family: "Special Gothic Expanded One", sans-serif;
    font-weight: 400;
    font-style: normal;
}  

body {
    margin: 0;
    background: #4D4D4D;
    width: 100%;
    height: 100%;
}

ul {
    list-style: none;
}

section {
    padding: 0 5rem;
}

a {
    text-decoration: none;
}

.logo {
    width: 5rem;
    height: 5rem;
}

.navbar {
    position: absolute;
    background: #0A0A0A;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    color: white;
    height: 8vh;
    width: 95%;
}

.navbar-items {
    display: flex;
    gap: 4rem;
}

.item {
    color: white;
}

.title {
    color: transparent;
    align-self: center;
    text-align: center;
    font-size: 3.5rem;
    -webkit-text-stroke: 0.5px white;

    .word {
        color: #2678d6;
        -webkit-text-stroke: 0.5px #2678d6;
    }
}

.hero {
    background-image: url(../public/bg-img-5.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.about-us {
    background-color: #4D4D4D;
    height: 100vh;
    display: flex;
    align-items: center;
    gap: 2rem;
}

.image-box {
    display: flex;
    align-items: center;
    background-color: #4D4D4D;
    height: 100%;
    width: 50%;
}

.image-group {
    height: 78%;
    margin: 2rem 3rem;
    border-radius: 1rem;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.6);
    border: 1px solid rgba(255, 255, 255, 0.1);
    object-fit: cover;
}

.text-box {
    background-color: #171717;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    padding: 2rem 3rem;
    border-radius: 2rem;
}

.title-about-us {
    color: rgb(239, 232, 232);
    font-size: 32px;
    padding-top: 5rem;
    text-align: center;
    font-weight: 600;
}

.text-about-us {
    color: rgb(241, 233, 233);
    font-size: 20px;
    margin-top: 2rem;
    padding: 3rem;
    font-size: 1rem;
    text-align: justify;
    line-height: 1.5;
}

.image-gruop {
    height: 78%;
    width: 65%;
    margin-top: 6rem;
    margin-left: 10rem;
    margin-right: 2rem;
    margin-bottom: 4rem;
    
}

.pricing {
    background-color: #0A0A0A;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    padding-top: 5rem;
}

.card {
    background-color: #C0C0C0;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 1rem;
    padding: 2rem 0;
}
  
.card-title {
    font-size: 1.8rem;
}
  
.card-image {
    width: 8rem;
    height: 8rem;
}

.card-price {
    margin: 0 0 1.5rem 0;
    font-size: 1.3rem;
}
  
.card-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    padding: 0 2rem;
}
  
.card-item {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 1rem;
}
  
.card-tick {
    width: 3rem;
    height: 3rem;
}
  
.card-description {
    margin: 0;
    font-size: 1.5rem;
    font-weight: 200;
}

.card-button {
    transition: background-color 0.3s ease;
    background-color: #2678d6;
    margin-top: 1rem;
    padding: 1rem 2rem;
    border-radius: 999px;
    border-width: 3px;
    border-style: solid;
    border-color: #0A0A0A;
    cursor: pointer;
    font-size: 0.8rem;
    color: #0A0A0A;
}

.card-button:hover {
    background-color: #5ca8ff;
}

.color1 { background-color: #0A0A0A; width: 20px; height: 20px; display: inline-block; }
.color2 { background-color: #4D4D4D; width: 20px; height: 20px; display: inline-block; }
.color3 { background-color: #C0C0C0; width: 20px; height: 20px; display: inline-block; }
.color4 { background-color: #1E90FF; width: 20px; height: 20px; display: inline-block; }
.color5 { background-color: #F5F5F5; width: 20px; height: 20px; display: inline-block; border: 1px solid #ccc; }